/*
 * 初期化
 */
html,body {
    height: 100%;
    margin: 0px;
}

/*
 * ヘッダー
 */
#layout-header {
	height: 50px;
}
#layout-header:after {
	clear: both;
}

/*
 * ヘッダー　名前
 */
.header__name {
	background-color: #FAA;
	width: 20%;
	height: 100%;
	float: left;
	overflow: hidden;
}

/*
 * ヘッダー　ナビゲーション
 */
.header__nav {
	background-color: #FAF;
	width: 60%;
	height: 100%;
	float: left;
	overflow: hidden;
}
.nav {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
	padding: 0;
	margin: 0;
}
.nav__item {
	display: table-cell;
}
.nav__item:hover {
	background-color: #FCF;
}
.nav__item--active, .nav__item--active:hover {
	background-color: #FFF;
}
.nav__item > a {
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 0.2em;
}

/*
 * ヘッダー　アイコン
 */
.header__icons {
	background-color: #AAA;
	width: 20%;
	height: 100%;
	float: left;
	overflow: hidden;
}
.icon {
	display: inline-block;
	background-image: url(/static/css/sprite-sheet.png);
}
.icon--person {
	width: 32px;
	height: 32px;
	background-position: -365px 2px;
}
.icon--information {
	width: 32px;
	height: 32px;
	background-position: -260px -206px;
}
.icon--config {
	width: 32px;
	height: 32px;
	background-position: -940px 2px;
}
.header__icons span {
	margin-left: 0.5em;
	margin-top: 0.5em;
}

/*
 * サイドバー
 */
#layout-left {
	background-color: #AFA;
	float: left;
	width: 20%;
	height: 100%;
	overflow: scroll;
}
#layout-left:after {
	clear: both;
}
.side {
	padding: 0px;
	margin: 0px;
}
.side__link {
	padding: 1em;
	background-color: #AFF;
}
.side__link:hover  {
	background-color: #CFF;
}
.side__link--active, .side__link--active:hover {
	background-color: #FFF;
}
.side__link > a {
	display: block;
	margin: -1em;
	padding: 1em;
	text-decoration: none;
}
.side__link + .side__link {
	border-top: 1px solid #000;
}
.side__link img {
	height: 40px;
	float: left;
	margin-left: -0.5em;
	margin-top: -0.5em;
	margin-right: 0.2em;
}
.side__link p {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

/*
 * コンテンツ
 */
#layout-contents {
	background-color: #AAF;
	height: 100%;
	width: 100%;
}
